/* body {
    width: 20rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    
} */

body {
    width: 20rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
    overflow: wrap;

    & .url-text {
        word-break: break-all;
    }
    &:nth-child(odd) {
        background: #dddddd;
    }
    &:nth-child(even) {
        background: #eee;
    }

    &::before {
        content: '';
    }
}

.title-container {
    display: flex;
    align-items: start;
}

.favicon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-top: 2px;
}

h3,
p {
    margin: 0;
}

textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
